<!DOCTYPE HTML>
<html>
<head>
  <title> 스프링부트 웹 서비스</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>스프링부트 웹 서비스123123abcdedd</h1>
<p>안녕하세요. 스프링부트 웹 서비스입니다.ㄴㅇㄹㄴㅇ</p>
</body>
</html>